<nav class="navbar navbar-expand-lg navbar-light bg-light" >
                
    <div class="collapse navbar-collapse"  id="navbarNavAltMarkup">
      <div class="navbar-nav" style="text-align: center">
        <a class="nav-item nav-link"  href="#">Menu <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Promocje</a>
        <a class="nav-item nav-link" href="#">O nas</a>
        <a class="nav-item nav-link" href="#">Kontakt</a>
       
      </div>
    </div>
  </nav>