.navbar-nav  {
 float:none;
 text-align:center;
 
}
.navbar-nav li{
 display: inline-block;
 float: none;
 }

/* .navbar .navbar-collapse {
  text-align: center;
   display:block;
}  */

/* +++++++++++++++ Slider ++++++++++++++ */
* {box-sizing:border-box}

/* Kontener slajdera */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Domyślnie ukrywa slajdy*/
.mySlides {
  display: none;
}




body {font-family: Verdana, sans-serif; margin:0}
img {vertical-align: middle;}



/* przyciski slajdera(strzałki) */
.prev, .next {
  cursor: pointer;
  position: absolute;
   /* top: 35%;  */
  width: auto;
  padding: 16px;
  margin-top: -250px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(31, 230, 24, 0.8) ;
}

/* Pozycjonowanie przycisku next */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Po najechaniu rozjaśnia przycisk */
.prev:hover, .next:hover {
  background-color: rgba(243, 237, 237, 0.8);
}

/* tekst na slajdzie */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Numer slajdu (1/3 itp) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Kropki do wyboru slajdu */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Animacja zanikania slajdu(finalnie nie użyta, nie działa na przeglądarki wcześniejsze niż ie9) */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* zmniejsza rozmiar tekstu na mniejszych ekranach */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/* +++++++++++++++ Polecamy Gridbox++++++++++++++ */

/* .img-fluid{
  animation-play-state:paused;
  -webkit-animation:paused;
  transition: transform .25s ease;
  

} */

.img-fluid:hover {
  transform: scale(1.05);
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

@keyframes szerokosc
{
  0% { width:150px; }
  100% { width:350px; }

  0% { height:150px; }
  100% { height:350px; }
}