.navbar-nav  {
 float:none;
 text-align:center;
 
}
.navbar-nav li{
 display: inline-block;
 float: none;
 }

/* .navbar .navbar-collapse {
  text-align: center;
   display:block;
}  */

/* +++++++++++++++ Slider ++++++++++++++ */
* {box-sizing:border-box}

/* Kontener slajdera */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Domyślnie ukrywa slajdy*/
.mySlides {
  display: none;
}




body {font-family: Verdana, sans-serif; margin:0}
img {vertical-align: middle;}



/* przyciski slajdera(strzałki) */
.prev, .next {
  cursor: pointer;
  position: absolute;
   vertical-align: 35vh; 
  width: auto;
  padding: 16px;
  top: 30%;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(31, 230, 24, 0.8) ;
}

/* Pozycjonowanie przycisku next */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Po najechaniu rozjaśnia przycisk */
.prev:hover, .next:hover {
  background-color: rgba(243, 237, 237, 0.8);
}
.slider{
  position: relative;
  height: auto;
}


/* tekst na slajdzie */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Numer slajdu (1/3 itp) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Kropki do wyboru slajdu */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Animacja zanikania slajdu(finalnie nie użyta, nie działa na przeglądarki wcześniejsze niż ie9) */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* zmniejsza rozmiar tekstu na mniejszych ekranach */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/* +++++++++++++++ Polecamy Card++++++++++++++ */
 /* Stylowanie tekstuna kartach */
.card-text, .card-title {
color: #ffffff;
background-color: rgba(84, 88, 88, 0.607);
border-radius: 50%;
padding:1em;
text-align: center;
font-size:  1.0em;
font-weight: bold;
/* ustawianie prędkości animacji tekstu */
-webkit-transition: font-size 50ms, font-weight 1s;
       -moz-transition: font-size500ms, font-weight 1s;
         -o-transition: font-size 50ms, font-weight 1s;
            transition: font-size 50ms, font-weight 1s;
}
.card-deck{
  margin: 1rem;
  height: fit-content;

}
/* Powiękasznie się karty po najechaiu na nią myszką  */
.card:hover {

  transform: scale(1.02);
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
/* Powiękasznie się takstu i tytulu po najechaiu na nią myszką  */
.card-text:hover{
  font-size:  1.1em;
  font-weight: bolder;
}
.card-title:hover{
  font-size:  1.1em;
  font-weight: bolder;
}

@media (max-width: 420px){
  .card{
    font-size:8px;
  }
}
@media (max-width: 910px ){
  .card{
    font-size:10px;
  }
}
body {
  min-width: 305px ;
}